---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';
import '../styles/cards.css';
import '../styles/slideshow.css';
import LanguageSwitcher from '../components/LanguageSwitcher.astro'
import { suid } from '../libs/utils'
import { get_counter, set_counter } from '../components/sessions'
import data from "../content/content.json"

var projects;

let session_id =0

var counter = get_counter(session_id)
if(counter == null){
	counter = 0
	set_counter(session_id,counter)
}

const projectsES = data.es.production;
const projectsEN = data.en.production;



switch (counter) {
 case 1:
 projects = projectsES;
 break;
 case 2:
 projects = projectsEN;
 break;
 default:
 console.log('jj');
}

let {title} = Astro.props;
---

<MainLayout title="Production - Tropical Lluvioso">
<div class="after-header-space"></div>
<h1 class="center-content">Production{projects.title}</h1>
<div class="cardContainer">
{projects.map((project) => 
  <figure class="card"><img  src={`https://ucarecdn.com/${project.galeria[0].image.id}/-/format/webp/`}  />
    <figcaption>
      <h3>{project.tituloProyecto}</h3>
      <div class="content" set:html={project.sinopsis}></div>
      <a class="content btn center-content" href={`/production/${project.id}`}>Leer Más</a>

    </figcaption>

  </figure>
)}
  </div>
</MainLayout>
<LanguageSwitcher title="" init={counter}/>


