---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';
import '../styles/cards.css';

const response = await fetch('https://randomuser.me/api/?results=6');
const data = await response.json();
const dataRes = data.results;
console.log(dataRes)



let {title} = Astro.props;
---

<MainLayout title="Production - Tropical Lluvioso">

<div class="cardContainer">
{dataRes.map((person) => 
  <figure class="card"><img src={person.picture.large} alt="sample101" />
    <figcaption>
      <h3>{person.name.first}</h3>
      <p class="content"> {person.gender}</p>
      <a class="content" href="#">{person.email}</a>

    </figcaption>

  </figure>
)}
  </div>
</MainLayout>
